@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "popins", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    max-width: 1420px;
    margin:0 auto;
    height: 100vh;
    overflow: hidden;
    cursor: none;
    background-color: rgba(100, 103, 137, 0.87);

}

.cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    color: rgb(224, 147, 216);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 15px rgb(202, 45, 173), 0 0 20px rgb(166, 104, 165);
    pointer-events: none; 
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
}

.ul {
    margin: 10px 0; 
    padding: 20px;
    z-index: 2;
}

    
.page {
    min-width: 100%;
    height: 100%;
    font-size: 46px;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.18);
}

.page_1 {
    background-color: rgba(100, 103, 137, 0.87);
    animation: cambio 20s infinite alternate linear;
}

.scroll {
    position: absolute;
    height: 5px;
    width: 200px;
    background-color: aliceblue;
    top: 0;
    left: 0;
}

nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #0c0c0f;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    z-index: 1;
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
} 

.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a{
    position: relative;
    color: rgb(161, 156, 156);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover{
    background: #eee;
}

nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}

.cuadronegro {
    background-color: rgb(50, 52, 75);
    padding: 20px; 
    border-radius: 10px; 
    width: fit-content; 
    margin: 20px auto; 
    box-shadow: 0px 6px 19px rgba(29, 25, 32, 0.6);
}
  
h1{
    font-size: 110px;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    color: rgba(1, 2, 17, 0.829);
    animation: glitch 1s infinite;
    margin-left: 5%;
}

.apellido {
    font-size: 80px;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    color: rgba(212, 214, 241, 0.829);
    animation: glitch 1s infinite; 
}

.SMR { 
	position: relative; 
	background: rgb(50, 52, 75);
	color: #a08b9f;
	font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    font-weight: lighter;
}

.SMR span {
    position:absolute;
    right:0;
    width:0;
    background: rgb(50, 52, 75);
    border-left: 1px solid #000;
    animation: escribir 6s steps(30) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}

.page_2 {
    background-color: rgba(100, 103, 137, 0.87);
    animation: cambio 20s infinite alternate linear;
}

.sobremi{
    margin-left: 15%;
    margin-top: 10;
    font-family:'Courier New', Courier, monospace;
}

.Pre{
    text-align: center;
    color: rgba(1, 2, 17, 0.829);
    font-size: 45px;
}

.cuadrado {
    margin-top: 10%;
    width: 1100px;
    height: 300px;
    background: #4b27625b;
    border-radius: 50px;
    transition: all 0.5s ease-in-out; 
    font-size: 30px;
    text-align: justify;
    margin-left: 15%;
    position: static;
    }
    
 

.hola{
        width: 150%;
        height: 200%;
 }

.moti{
    font-size: 25px;
    display: flex;
    margin-left: 10%;
    color: #4b27625b;
    
}

.mo{
    text-align: center;
    color: rgba(1, 2, 17, 0.829);
    font-size: 45px;
    margin-top: 0%;
}

summary{
    list-style: none;
}

.w{
    width: 150px;
    height: 150px;
    border-radius: 60%;
    margin-left: -10;
}

.a{
    width: 150px;
    height: 150px;
    border-radius: 60%;
}

.o{
    width: 150px;
    height: 150px;
    border-radius: 60%;
}

.glicheo{
    color: rgba(47, 39, 78, 0.83);
    font-family: Verdana;
    font-size: 20px;
}

.glichea{
    color: rgba(80, 53, 39, 0.83);
    font-family: Verdana;
    font-size: 20px;
}

.glichee{
    color: rgba(54, 50, 70, 0.83);
    font-family: Verdana;
    font-size: 20px;
}

.page_3 {
    background-color: rgba(100, 103, 137, 0.87);
    animation: cambio 20s infinite alternate linear;
}

h2{
    text-align: center;
    color: rgba(1, 2, 17, 0.829);
    font-size: 35px;
    margin-top: -45%;
    margin-left: 7%;
}


.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #000000;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background: #2e2a30d0;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #776f88;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #b7adbde3;
	font-size: 14px;
	margin-bottom: 5px;
}

.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #982fcc;
	border: 1px solid #982fcc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #3b1a3c;
	color: #fff;
}

@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
.page_4 {
    background-color: rgba(100, 103, 137, 0.87);
    animation: cambio 20s infinite alternate linear;
}

.collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 10px; /* Espacio entre las imágenes */
 }
 
 .collage img {
    width: 100%;
    height: auto;
 }

 .collage {
    display: flex;
    flex-wrap: wrap; /* Las imágenes se ajustarán automáticamente */
    gap: 10px;
    justify-content: center;
 }
 
 .collage img {
    width: 20%; /* Cada imagen ocupará el 30% del contenedor */
 }

 .collage img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}
.collage img {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.pro{
    margin-top: -1%;
    color: rgba(1, 2, 17, 0.829);
    margin-left: 3%;
    font-size: 35px;
}

.gata{
    margin-left: -3%;
    margin-top: -3%;
}

.cad {
    position: relative;
    width: 300px;
    height: 250px;
    margin: 20px;
    align-items: center;
}
  
  .cad .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
  
  .cad .front {
    box-shadow: 0 5px 10px rgb(20, 2, 36);
}
  
  .cad .front {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}
  
  .cad .front img {
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover ;  
}

  .cad .front a {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

  .cad .front h3{
   position: absolute; bottom: 0;
   width: 100%;
   height: 45px;
   line-height: 45px;
   color: #fff;
   background: rgba(0,0,0,.4); 
   text-align: center;
}

.page_5 {
    background-color: rgba(100, 103, 137, 0.87);
    animation: cambio 20s infinite alternate linear;
}

.skills-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.skill {
    margin-bottom: 20px;
}

.skill p {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.skill-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
}

.progress {
    height: 20px;
    background-color: #4caf50;
    border-radius: 8px;
    transition: width 0.5s ease-in-out;
}

.page_6 {
    background-color: rgba(100, 103, 137, 0.87);
    animation: cambio 20s infinite alternate linear;
}.page_7 {
    background-color: rgba(100, 103, 137, 0.87);
    animation: cambio 20s infinite alternate linear;
}